<!-- @format -->

{% extends 'base.html'%} {% import 'macros.html' as macro %} {% block content %}

<div class="container-fluid">
	<div class="px-4 py-5 my-5 text-center text-info">
		<h1 class="ml15 fw-bold" style="color: cyan">
			<span class="word">Amani</span>
			<span class="word">Blog</span>
		</h1>

		<div class="col-lg-6 mx-auto">
			<figure class="text-center text-white">
				<blockquote class="blockquote">
					<p>{{quote.quote }}</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					<cite title="Source Title"> {{quote.author}}</cite>
				</figcaption>
			</figure>
		</div>
	</div>
</div>
<div class="container"> {{ macro.display(posts) }} </div>
{% endblock content%}
