<!-- @format -->





{% macro display(posts) %}
<div class="container-fluid" style="background-color: black !important;">
	<div class="row">
		{% if posts %}
		<div class="container">
			{% for post in posts %}
			<article class="media content-section w-100 my-3 mx-auto"  style="background-color: black !important; color:white !important; width:60vw !important;">
				<div class="media-body">
                         <span>
                              <img src="{{url_for('static', filename='photos/' + post.user.profile_pic_path) }}" alt="" class="rounded-circle article-img">
                         </span>
					<div class="article-metadata">
						<a class="mr-2" href="#" style="color: aqua;" >{{ post.user.username }}</a>
						<small class="text-muted" style="color:yellow !important;">{{ post.time.strftime('%Y-%m-%d') }}</small>
					</div>
					<h2><a class="article-title fw-bold" href="{{url_for('main.blog', blog_id=post.id)}}"  style="color: rgb(161, 167, 166) !important;">{{ post.title }}</a></h2>
					<p class="article-content">{{ post.post | truncate(150)}} <a href="#" style="color:yellow;"> [Read more]</a> </p>
                         <footer class="blockquote-footer text-center" style="color:cyan;"> Posted by: {{post.user.username}}</footer>
								<div><span class="foot" >{{post.comment.count()}} Comments</span> 
									<span class="foot" > <a href="{{url_for('main.like',id = post.id)}}"><ion-icon name="thumbs-up"></ion-icon></a> {{post.upvote.count()}}</span>
									
									
									<span class="foot"> <a href="{{url_for('main.dislike',id = post.id)}}"> <ion-icon name="thumbs-down"></ion-icon> {{post.downvote.count()}}</a></span></div>
			
								<a href="{{url_for('main.comment',blog_id = post.id)}}" class="btn btn-info btn-sm"> Comment</a>
							</div>
				</div>
			</article>
			{% endfor %}
		</div>

		{% endif %}
	</div>
</div>
{% endmacro %}

