<!-- @format -->

{% macro display(posts) %}
<div class="container-fluid">
	<div class="row">
		{% if posts %}
		<div class="container">
			{% for post in posts %}
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						<a class="mr-2" href="#">{{ post.user.username }}</a>
						<small class="text-muted">{{ post.time }}</small>
					</div>
					<h2><a class="article-title" href="#">{{ post.title }}</a></h2>
					<p class="article-content">{{ post.post }}</p>
                         <footer class="blockquote-footer text-center" style="color:cyan;"> Posted by: {{post.user.username}}</footer>
								<div><span class="foot" >{{post.comment.count()}} Comments</span> 
									<span class="foot" > <a href="{{url_for('main.like',id = post.id)}}"><i class="fa fa-thumbs-up" style="font-size:18px;color: cyan"></i></a> {{post.upvote.count()}}</span>
									
									
									<span class="foot"> <a href="{{url_for('main.dislike',id = post.id)}}"> <i class="fa fa-thumbs-down" style="color:yellow;"></i> {{post.downvote.count()}}</a></span></div>
			
								<a href="{{url_for('main.comment',post_id = post.id)}}" class="btn btn-info btn-sm"> Comment</a>
							</div>
				</div>
			</article>
			{% endfor %}
		</div>

		{% endif %}
	</div>
</div>
{% endmacro %}
